.dropdown-menu {
    background: red;
    width: 300px;
    position: absolute;
    top: 80px;
    left: 540px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #dae6f3;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #eaf1f9;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
